<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>servlets.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editIntern</servlet-name>
        <servlet-class>servlets.editIntern</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInternDetails</servlet-name>
        <servlet-class>servlets.addInternDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addinternDailyWork</servlet-name>
        <servlet-class>servlets.addinternDailyWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeeklyWork</servlet-name>
        <servlet-class>servlets.viewWeeklyWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkDailyWorkIntern</servlet-name>
        <servlet-class>servlets.checkDailyWorkIntern</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>servlets.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>servlets.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInterns</servlet-name>
        <servlet-class>servlets.getInterns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStation</servlet-name>
        <servlet-class>servlets.addStation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStations</servlet-name>
        <servlet-class>servlets.viewStations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRole</servlet-name>
        <servlet-class>servlets.addRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRoles</servlet-name>
        <servlet-class>servlets.viewRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDprt</servlet-name>
        <servlet-class>servlets.addDprt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDprts</servlet-name>
        <servlet-class>servlets.viewDprts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>servlets.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUsers</servlet-name>
        <servlet-class>servlets.addUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUsers</servlet-name>
        <servlet-class>servlets.viewUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toAddIntern</servlet-name>
        <servlet-class>servlets.toAddIntern</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addIntern</servlet-name>
        <servlet-class>servlets.addIntern</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUneditedInterns</servlet-name>
        <servlet-class>servlets.viewUneditedInterns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUni</servlet-name>
        <servlet-class>servlets.addUni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toAddMore</servlet-name>
        <servlet-class>servlets.toAddMore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInternFullDetails</servlet-name>
        <servlet-class>servlets.getInternFullDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fillAttendance</servlet-name>
        <servlet-class>servlets.fillAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkRegister</servlet-name>
        <servlet-class>servlets.checkRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAttendance</servlet-name>
        <servlet-class>servlets.viewAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>internViewOwnWork</servlet-name>
        <servlet-class>servlets.internViewOwnWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toAdminViewAllInternsWork</servlet-name>
        <servlet-class>servlets.toAdminViewAllInternsWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkInternsWork</servlet-name>
        <servlet-class>servlets.checkInternsWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUser</servlet-name>
        <servlet-class>servlets.removeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassAdmin</servlet-name>
        <servlet-class>servlets.resetPassAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProfile</servlet-name>
        <servlet-class>servlets.adminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>servlets.changePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supervisorProfile</servlet-name>
        <servlet-class>servlets.supervisorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hrProfile</servlet-name>
        <servlet-class>servlets.hrProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disabledUsers</servlet-name>
        <servlet-class>servlets.disabledUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restoreUser</servlet-name>
        <servlet-class>servlets.restoreUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIntern</servlet-name>
        <url-pattern>/editIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInternDetails</servlet-name>
        <url-pattern>/addInternDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addinternDailyWork</servlet-name>
        <url-pattern>/addinternDailyWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeeklyWork</servlet-name>
        <url-pattern>/viewWeeklyWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkDailyWorkIntern</servlet-name>
        <url-pattern>/checkDailyWorkIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInterns</servlet-name>
        <url-pattern>/getInterns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStation</servlet-name>
        <url-pattern>/addStation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStations</servlet-name>
        <url-pattern>/viewStations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRole</servlet-name>
        <url-pattern>/addRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRoles</servlet-name>
        <url-pattern>/viewRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDprt</servlet-name>
        <url-pattern>/addDprt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDprts</servlet-name>
        <url-pattern>/viewDprts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUsers</servlet-name>
        <url-pattern>/addUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUsers</servlet-name>
        <url-pattern>/viewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toAddIntern</servlet-name>
        <url-pattern>/toAddIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addIntern</servlet-name>
        <url-pattern>/addIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUneditedInterns</servlet-name>
        <url-pattern>/viewUneditedInterns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUni</servlet-name>
        <url-pattern>/addUni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toAddMore</servlet-name>
        <url-pattern>/toAddMore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInternFullDetails</servlet-name>
        <url-pattern>/getInternFullDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fillAttendance</servlet-name>
        <url-pattern>/fillAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkRegister</servlet-name>
        <url-pattern>/checkRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAttendance</servlet-name>
        <url-pattern>/viewAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>internViewOwnWork</servlet-name>
        <url-pattern>/internViewOwnWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toAdminViewAllInternsWork</servlet-name>
        <url-pattern>/toAdminViewAllInternsWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkInternsWork</servlet-name>
        <url-pattern>/checkInternsWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassAdmin</servlet-name>
        <url-pattern>/resetPassAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProfile</servlet-name>
        <url-pattern>/adminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supervisorProfile</servlet-name>
        <url-pattern>/supervisorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hrProfile</servlet-name>
        <url-pattern>/hrProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disabledUsers</servlet-name>
        <url-pattern>/disabledUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restoreUser</servlet-name>
        <url-pattern>/restoreUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
